@model ProHallManagement.ViewModel.TotalViewModel

@{
    /**/

    ViewBag.Title = "Account";
    Layout = "~/Views/Shared/_CustomLayout.cshtml";
}

<h2>Account</h2>
@if (Model.Students != null)
{
    <h1>Student Id</h1>
    <h2>@Model.Students.Name</h2>
    <h2>@Model.Students.Email </h2>
    <h2>@Model.Students.Phone</h2>
}
@if (Model.Teachers != null)
{
    <h1>Teachers Id</h1>
    <h2>@Model.Teachers.Name</h2>
    <h2>@Model.Teachers.Phone </h2>
    <h2>@Model.Teachers.Address</h2>
}

@if (Model.Employees != null)
{
    <h1>Employee Id</h1>
    <h2>@Model.Employees.Name</h2>
    <h2>@Model.Employees.Phone </h2>
    <h2>@Model.Employees.Address</h2>
}


<div>
    @Html.ActionLink("Back to List", "Index")
</div>
