@model ProHallManagement.ViewModel.UserView
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_account.cshtml";
}

<main>

    <div id="page-wrapper" style="min-height: 616px;">

        <div class="row">
            <div class="col-md-12">
                <h1 class="page-header">Change Password</h1>
                <ol class="breadcrumb">
                    <li class="active">
                        <a href="">Home</a> <i class="zmdi zmdi-circle"></i> ChangePassword
                    </li>
                </ol>
            </div>
        </div>


        <div class="card card-block">
            <h4 class="card-title text-center"> Change Password</h4>


            <div class="card-text">

                <div class="row">
                    <div class="col-md-3">

                    </div>
                    <div class="col-md-6">

                        <div class="card">

                            <ul class="list-group list-group-flush">

                                @using (Html.BeginForm("ChangePassword", "Users", FormMethod.Post))
                                {

                                    @Html.HiddenFor(m => m.ChangePassword.Id)

                                    <li class="list-group-item">

                                        @Html.EditorFor(model => model.ChangePassword.PreviousPassword, new { htmlAttributes = new { @class = "form-control card-link", PlaceHolder = "Previous password" } })
                                        @Html.ValidationMessageFor(model => model.ChangePassword.PreviousPassword, "", new { @class = "text-danger" })

                                        @if (ViewBag.errorPass != null)
                                        {
                                            <p class="text-danger">@ViewBag.errorPass</p>
                                        }


                                    </li>

                                    <li class="list-group-item">

                                        @Html.EditorFor(model => model.ChangePassword.NewPassword, new { htmlAttributes = new { @class = "form-control card-link", PlaceHolder = "New password" } })
                                        @Html.ValidationMessageFor(model => model.ChangePassword.NewPassword, "", new { @class = "text-danger" })


                                    </li>

                                    <li class="list-group-item">

                                        @Html.EditorFor(model => model.ChangePassword.ConfirmNewPassword, new { htmlAttributes = new { @class = "form-control card-link", PlaceHolder = "Confirm New password" } })
                                        @Html.ValidationMessageFor(model => model.ChangePassword.ConfirmNewPassword, "", new { @class = "text-danger" })


                                    </li>

                                    <li class="list-group-item">
                                        <button type="submit" class=" btn  btn-success card-link" style="margin-top: 10px;">Change</button>
                                    </li>
                                }






                            </ul>

                        </div>

                    </div>
                    <div class="col-md-3">

                    </div>
                </div>
                @*row end*@

            </div>
            @*card-text*@

        </div>
        @*card card-block*@

    </div>
    @*<div id="page-wrapper" style="min-height: 616px;">*@

</main>
@*main*@